@tailwind base;

@layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }
}

@tailwind components;
@tailwind utilities;

@layer components {
  .card {
    
    border-radius: theme('borderRadius.lg');
    padding: theme('spacing.6');
    margin: theme('spacing.2');
    box-shadow: theme('boxShadow.xl');
    text-align: center;
    display: flex;
    flex-direction: column;
    color: rgb(var(--foreground-rgb))
  }

  .card .card {
    background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-start-rgb))
    )
    rgb(var(--background-start-rgb));
  }

  .card .card .card {
    background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-end-rgb));
  }
  
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 248, 244, 229;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 16, 18, 14;
    --background-end-rgb: 6, 8, 4;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-end-rgb));
}

.wallet-adapter-button-trigger {
  background-color: #512da8;
}
